<div class="inside-content help">
          <span class="font-face">مراحل انجام سفارش در iretouchpro :</span>
          <p>1 - وارد بخــش سفــارش شده و نوع روتوش مورد نظر را و همچنین توضیحات
تکمیلی ( بطــور مثـال در خـواست تغییـر رنـگ چشـم ، بـرداشــته شــدن خــال ، 
تغــییر رنگ پــوست و ... ) را وارد نمایید .
و فــایل عکــس خــود را از طـریق فـرم ، ارسـال نمایید .<br />
   2 - اطلاعات مربوط به سفارش از جمله ایمیل صحیح ( که فایل روتوش شده پس
از نهایی شدن به این آدرس برای شما ایمیل خواهد شد ) و فایل عکس خود را
از طریق فرم ارسال نمایید .<br />
   3 - مشخصات ثبت سفارش از جمله ایمیل و مبلغ فاکتور را مرور نمایید و در
صورت صحیح بودن آنرا تایید کنید .<br />
4 - مبلغ مشخص شده را از طریق پرداخت آنلاین به صورت اینترنتی واریز نمایید .</br>
5 - فــایل ارســـالی شــما توسـط متخــصصین مربــوطه بررسی خــواهد شـــد و
ظرف 24 الی 48 ساعت پس از ثبت سفارش و پرداخت ، عکـس ویرایـش شـده
شمـا به نشـانی ایمیـل شمـا ارساـل خواهـد شد .</br>
</p>
   
        </div>
        <div class="clear"></div>