body{
    color: #444;
}
a{
    color: #50A0A0;
}
.adminContent{    
	width:800px;    
	margin:0 auto;
	border:11px solid #bebcbc;
	background:#fff;
	position:relative;
    padding: 10px;
}
/*------------------*/
.error , .success{
    background: #FFD7D7 url(../image/error_icon.png) no-repeat 795px center;
    padding: 10px 50px 10px 0px;
    width: 780px;
}
.success{
    background-color: #D5F1CD;
    background-image: url(../image/success_icon.png);
}
/*-----*/
.pagination{
    padding : 0px 0px 0px;
    text-align: center;
}
.pagination a , .pagination span{
    font-weight: 600;
    display: inline-block;
    padding: 2px 5px;
    margin-left: 2px;
    
}
.pagination a:hover , .pagination a.disable{
    color: #CECECE;
}

/*-----*/
.table img{
    height: 16px;
    width: ;
}
.table
{
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}

.table thead tr {
    background-color: gray;
    color: #f5f5f5;
}

.table tbody tr {
    background-color: #F4E7CE; 
    
}

.table td , .table th{
    padding: 3px 2px 3px;
}

.table tr.new{
    background-color: #D2F4CE;
}

.detail fieldset p
{
    padding: 10px 10px 5px 0px;
}
.detail fieldset legend{
    color: #D54500;
    margin-top: 10px;
}
.detail fieldset p label {
    width: 290px;
    display: inline-block;
}
.detail fieldset p label span{
    width: 120px;
    display: inline-block;
}
/*-------------------*/
    .orders .viewMode{
        padding-right: 20px;
    }
    .orders .viewMode a{
        border-radius: 5px 5px 0 0;
        padding: 2px 10px 5px;
        display: inline-block;
        background-color: #f2f2f2; 
        border: 1px solid #ddd;
        border-bottom: 0;       
    }
    .orders .viewMode a:hover{
        background-color: #ddd;        
    }
    .orders .viewMode a.selected{
        background-color: #ddd; 
        border: 1px solid #ddd;
        border-bottom: 0;       
    }
    .orders .tableContainer{
        border: 1px solid #e1e1E1;
        padding-top: 20px;
        border-radius: 5px 5px;
        
    }
