/*************Reset-CSS ***************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
ul { list-style:none; }
input { border: none; height: 18px; }
a { text-decoration: none; outline:none; }
.clear { clear: both; }
img { border:none; }
/*************************************/

@font-face { font-family: 'yekan'; src:url('../font/BYekan.eot?#') format('eot'), url('../font/BYekan.ttf') format('truetype'); }
body { background:#e4e4e4; font:12px tahoma; direction:rtl }
.font-face, .font-face ul li a { font-size:12px; font-family:'b yekan', '2 yekan', yekan, arial, tahoma; font-weight:500; }
/*************************************/
.wrapper { width:970px; height:auto; margin:0 auto; padding-top:20px; }
.main-menu { width:850px; height:100px;  margin: 0 auto;}
.menu { width:850px; height:100px; position:relative; z-index:2; }
.menu > ul > li { background:url(../image/bg-li1.png) no-repeat; float:right; position:relative; height:48px; width:115px; margin:0 3px; }
.menu ul > li > a { display:block; padding:6px 0 5px; white-space:nowrap; font-size:16px !important; text-align:center; color:#777777; text-shadow:1px 1px #fff; }
.menu >ul >li:hover { background:url(../image/bg-li-hover.png) no-repeat; }
.menu >ul >li:hover >a { color:#f9f9f9; text-shadow:1px 1px #4c4c4c; padding:6px 0 10px; }
.logo { width:190px; height:60px; margin:15px auto 0; }
.content { width:601px; height:590px; min-height:150px; margin:0 auto; border:11px solid #bebcbc; background:#fff; position:relative; }
.inside-content { padding:11px; }
.contact label { width:476px; height:55px; margin:5px 10px 5px 0; display:block; }
.contact label:first-child { margin-top:30px; }
.contact label span { font-size:16px; color:#373737; float:right; width:95px; }
.contact label input { width:256px; height:32px; float:right; border:1px solid #989797; background:url(../image/bg-input.png) repeat-x; border-radius:7px; -webkit-border-radius:7px; padding:0 5px; font:12px tahoma; color:#666; }
.ie7 .contact label input, .ie8 .contact label input { padding-top:7px; height:25px; }
#msg { height:240px; width:495px; padding-bottom:20px; }
#msg textarea { width:381px; height:226px; float:right; border:1px solid #989797; background:url(../image/bg-input.png) repeat-x center top; border-radius:7px; -webkit-border-radius:7px; padding:5px; font:12px tahoma; color:#666; overflow:hidden; }
#code { position:relative; }
#code img { margin:4px 15px 0 0; }
#code input { width:115px; }
#comment { position:absolute; top:38px; right:100px; font-size:13px; width:200px; }
#submit { width:85px; height:45px; background:url(../image/send.png) no-repeat; cursor:pointer; margin:15px 255px 0 0; }
#submit:hover { background:url(../image/send-hover.png) no-repeat; }
/*************** Help **********/
.help { min-height:350px; padding-bottom:25px; }
#help span, .order > span { font-size:17px; color:#000; margin:5px 8px 5px 0; display:block; }
.help span { font-size:17px; color:#000; margin:5px 8px 5px 0; display:block; }
.help p { text-align:justify; line-height:24px; padding:0 8px; }
#help p, .order p { text-align:justify; line-height:21px; padding:0 8px; }

/************* Order *************/

.order-title { font-size:24px !important; }
.next{ width:52px; height:31px; display:block; background:url(../image/bg-next.png) no-repeat center top; font-size:18px; float:left; margin:163px 0 15px 8px; color:#817f81; text-align:center; cursor: pointer; }

#submitForm2 , #submit-payment { width:100px; height:31px; display:block; background:url(../image/bg-next2.png) no-repeat center top; font-size:18px; float:left; margin:0 221px; color:#817f81; text-align:center; }
#submitForm2:hover , #submit-payment:hover{ background:url(../image/bg-next2.png) no-repeat center bottom; color:#fff; text-shadow:1px 1px #666 }
#submit-online{ width:117px; height:31px; display:block; background:url(../image/bg-next3.png) no-repeat center top; font-size:18px; float:left; margin:50px 140px; color:#817f81; text-align:center; }
#submit-online:hover{ background:url(../image/bg-next3.png) no-repeat center bottom; color:#fff; text-shadow:1px 1px #666 }
.next1 { margin-top:15px !important }
.next:hover, .btn:hover { background:url(../image/bg-next.png) no-repeat center bottom; color:#fff; text-shadow:1px 1px #666 }
.order2 label, .order3 label , .payment-type label{ width:415px; height:50px; display:block; margin:0 auto 8px; }
.order2 label:first-child, .order3 label:first-child , .payment-type label:first-child{ margin-top:30px; }
.order2 label span, .order3 label span, .payment-type label span { font-size:14px; width:125px; float:right; }
.order2 label input, .order3 label input , .payment-type label input { width:256px; height:32px; float:right; border:1px solid #989797; background:url(../image/bg-input.png) repeat-x; border-radius:7px; -webkit-border-radius:7px; padding:0 5px; font:12px tahoma; color:#666; }
.ie .order2 label input[type="file"], .opera .order2 label input[type="file"] { width:265px; }
.ie7 .order2 label input, .ie8 .order2 label input, .ie7 .order3 label input, .ie8 .order3 label input { padding-top:7px; height:25px; }
.order #msg { height:110px; width:540px; padding-bottom:10px; display:block; float:right; }
.order #msg textarea { width:405px; height:110px; border:1px solid #989797; background:url(../image/bg-input.png) repeat-x center top; border-radius:7px; -webkit-border-radius:7px; padding:5px; font:12px tahoma; color:#666; overflow:hidden; }
.services { width:415px; height:50px; }
#service { width:125px; float:right; margin:0; }
.radio_btn { width:72px !important; height:30px; float:right !important; margin-top:5px; }
#service span { font-size:17px; }
.radio_btn span { width:25px !important; float:right; font-size:14px; }
.radio_btn input { width:10px !important; float:right !important; border:none !important; background:none; }
#women span { width:140px; margin-top:10px; }
#women input { width:20px; float:right; border:none; position:relative; top:5px; background:#fff; }
.order2 .next { margin-top:145px; }
.order3 > span { text-align:center; font-size:17px; width:380px; min-height:60px; display:block; margin:20px auto; }
.order3 label { height:35px; }
.order3 input[type="text"] { border:none !important; background:#fff !important; }
/*************** Privacy ******************/

.privacy { background:url(../image/bg-privacy.png) no-repeat; width:605px; height:620px; margin:0 auto; position:relative; }
.privacy span { display:block; font-size:18px; color:#000; margin-bottom:8px; }
.privacy p { text-align:justify; line-height:20px; }
.inside-privacy { width:460px; height:425px; margin:100px 36px 0 0; padding-bottom:10px }
/************* Gallery ***********/
.gallery { width:565px; height:auto; margin:0 auto; padding:20px 0; }
#gallery { overflow:hidden; height:590px; width:601px; position:relative; }
.gallery ul li { width:131px; height:131px; float:right; padding:5px; }
.gallery ul li a { display:block; width:131px; height:131px; background:url(../image/bg-gallery.png) no-repeat; position:relative; overflow:hidden; }
.frame-gallery { width:140px; height:140px; background:url(../image/frame-gallery.png) no-repeat; display:block; position:absolute; top:-5px; right:-5px; }
.gallery ul li a img.show { display:block; position:relative; right:1px; top:1px; }
.hide { display:none; position:absolute !important; top:-3px; right:0px; z-index:1; }
/*----------------------*/


.newOrder .step { display: none; }
.error, .success { background: #FFD7D7 url(../image/error_icon.png) no-repeat 570px center; background-repeat: no-repeat; padding: 10px 50px 10px 0px; padding-bottom: 10px; width: 555px; margin: 0 auto; color: #444; border: 1px solid #FF8080; border-radius: 5px 5px; margin-bottom: 10px; }
.error ul li, .success ul li { line-height: 18px; }
.success { border-color: #67C56F; background-color: #D5F1CD; background-image: url(../image/success_icon.png); }

/******** Scroll ***********/
.scroll-pane{
	width: 405px;
	height: 405px;
	overflow: auto;
	padding-right:25px !important;
}
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 1px;
	width: 11px;
	height: 403px;
	background: #fff;
	border:1px solid #d7d7d7;
	display:none;
}
.jspVerticalBar *,{
	margin: 0;
	padding: 0;
}
.jspCap{
	display: none;
}
.jspHorizontalBar .jspCap{
	float: left;
}
.jspTrack{
	background: #fff;
	position: relative;
	height:383px !important;
}
.jspDrag{
	background:#d6d6d6;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	width:9px;
	margin:0px auto 10px;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
	float: left;
	height: 97%;
}
.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled{
	cursor: default;
}
.jspVerticalBar .jspArrow{
	height: 12px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus{
	outline: none;
}
.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}
.jspArrowUp{
	background:url(images/sprite.png) no-repeat -209px -38px;
}
.jspArrowUp:hover{
	background:url(images/sprite.png) no-repeat -208px -52px;
}
.jspArrowDown{
	background:url(images/sprite.png) no-repeat -226px -38px;
}
.jspArrowDown:hover{
	background:url(images/sprite.png) no-repeat -226px -50px;
}
.contact > span.font-face{
	width:100%;
	height:30px;
	display:block;
	margin:15px 10px;
	font-size:15px;
	color:#373737;
}
.contact > span.font-face a{
	color:#373737;
	margin-right:20px;
}
.contact > span.font-face a:hover{
color:#E46D42;
}
.play{
	width:30px;
	height:30px;
	background:url(../image/play.png) no-repeat;
	position:absolute;
	bottom:18px;
	left:18px;
	cursor:pointer;
	z-index:1;
	display:none;
}
.stop{
	width:30px;
	height:30px;
	background:url(../image/pause.png) no-repeat;
	position:absolute;
	bottom:18px;
	left:18px;
	cursor:pointer;
	display:none;
	z-index:1;
	
}

