/*************Reset-CSS ***************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
ul { list-style:none; }
input { border: none; height: 18px; }
a { text-decoration: none; outline:none; }
.clear { clear: both; }
img { border:none; }
/*************************************/

@font-face { font-family: 'yekan'; src:url('font/BYekan.eot?#') format('eot'),  url('font/BYekan.ttf') format('truetype'); }
body { background:#e4e4e4; font:12pc tahoma; direction:ltr }
.font-face, .font-face ul li a { font-size:12px; font-family:'b yekan', '2 yekan', yekan, arial, tahoma; font-weight:500; }
/*************************************/
.wrapper { width:970px; height:auto; margin:0 auto; padding-top:20px }
.main-menu { width:850px; height:70px;  margin: 0 auto;}
.menu { width:850px; height:70px; position:relative; z-index:2; }
.menu > ul > li { background:url(../image/bg-li1.png) no-repeat; float:right; position:relative; height:36px; width:115px; margin:0 3px; }
.menu ul > li > a { display:block; padding:6px 0 5px; white-space:nowrap; font-size:18px !important; text-align:center; color:#777777; text-shadow:1px 1px #fff; }
.menu >ul >li:hover { background:url(../image/bg-li-hover.png) no-repeat;}
.menu >ul >li:hover >a { color:#f9f9f9; text-shadow:1px 1px #4c4c4c;  }
.picture, .pic-frame { width:636px; height:631px; margin:0 auto; text-align:center; position:relative; }
.pic-frame { overflow:hidden; }
.picture img { display:block; opacity:0.35; position:absolute; right:15px; top:1px; }
.frame-pic { width:636px; height:631px; background:url(../image/frame-pic.png) no-repeat; position:absolute; top:0px; right:0; }
#frame { width:587px; height:602px; background:url(../image/orange.png) no-repeat; position:absolute; top:12px; right:14px; display:block; }
.logo { width:190px; height:60px; margin:44px auto 0; }
/*----------------------*/

.content { border:0px solid #bebcbc; background:transparent; }
