<div id="gallery">
<div class="inside-content gallery">
  
          <ul>
            <li></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img1-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img1-b.jpg" class="hide" /><div class="play"></div><div class="stop" ></div></li>
            <li><a href="#"></a></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img2-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img2-b.jpg" class="hide" /></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img3-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img3-b.jpg" class="hide" /><div class="play"></div><div class="stop"></div></li>
            <li></li>
            <li><a href="#"></a></li>
            <li></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img4-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img4-b.jpg" class="hide" /><div class="play"></div><div class="stop"></div></li>
            <li><a href="#"></a></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img5-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img5-b.jpg" class="hide" /><div class="play"></div><div class="stop"></div></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img6-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img6-b.jpg" class="hide" /><div class="play"></div><div class="stop"></div></li>
            <li><a href="#"></a></li>
            <li></li>
            <li><a href="#"><img src="<?php echo URL_ROOT ?>resources/image/gallery/img7-t.jpg" width="125" height="125"  alt="" class="show"/><span class="frame-gallery"></span></a><img src="<?php echo URL_ROOT ?>resources/image/gallery/img7-b.jpg" class="hide" /><div class="play"></div><div class="stop"></div></li>
            <li></li>
          </ul>
          <div class="clear"></div>
        </div>
</div>