<style>
.content{
    border: 0px;
    background-color: transparent;
}
</style>
      <div class="privacy">
        <div class="inside-content">
          <div class="inside-privacy scroll-pane">
          <span class="font-face">صیانت ازعکس ها و حریم خصوصی شما</span>
          <p>گروه تخصصی ما خود را متعهد به حفاظت از حریم خصوصی همه بازدیدکنندگان 
و مشتریان iretouchpro میداند . یکی از نکات بسیار مهم و مورد توجه ما اینست
که در عین فراهم آوردن امکان روتوش حرفه ای، عکس ها و اطلاعات شخصی
مشتریان کاملا محرمانه باقی بماند. ما نیز به اندازه خود شما به خصوصی ماندن
عکس ها اهمیت داده و معتقدیم عکس ها و اطلاعات شما منحصراً متعلق به
شما بوده و نباید به هیچ عنوانی در دسترس هیچ فرد یا گروه دیگری قرار گیرد .<br />
بنابراین تمام عکس ها و اطلاعاتی که در اختیار ما قرار می دهید به طور کامل 
محفوظ خواهد بود.
</p>
	<span class="font-face">حفاظت از عکس های شما</span>
    <p>عکس هایی که شما به طور موقت برای روتوش در اختیار ما قرار می دهید در
سرورهای امن شرکت قرار می گیرد و به هیچ عنوان در اختیار هیچ فرد یا گروه
دیگری قرار نخواهد گرفت. پس از کامل شدن فرآیند روتوش و رضایت کامل
مشتری از نسخه نهایی  و همچنین ذخیره شدن عکس توسط مشتری , نسخه
اولیه و روتوش شده از کلیه کامپیوترها و سرورهای iretouchpro پاک خواهد شد. تعهد ما به شما این است که iretouchpro هیچ نسخه کپی از عکس شما نگهداری
نمی کند و عکس های شما فقط در اختیار خود شما خواهد بود. 

<span class="font-face">حفاظت از اطلاعات شخصی</span>
اطلاعاتی که در اختیارمان قرار می دهید (مانند نام و آدرس پست الکترونیکی شما)
در سرورهای امن شرکت قرار می گیرد . ما هیچگونه اطلاعات شخصی شما را
هنگامی که وب سایت ما را ملاحظه می کنید جمع آوری نمی کنیم، مگر اینکه شما
آن اطلاعات را در اختیار ما قرار دهید. هیچ بخشی از اطلاعاتی که شما در
اختیارمان گذارده اید را در اختیار دیگران نگذاشته یا توزیع نخواهیم کرد .<br />
از مشخصه های فردی شما فقط به منظور پاسخگویی به خودتان و یا برای تهیه
گــزارشـات آمـاری در جهـت شناخت بهـتر کاربرانمـان و ارائـه خدمـات بهـتر 
استفاده می نماییم .<br />

ما عمدتاً از اطلاعات شخصی شما برای چهار هدف اصلی استفاده می کنیم:<br />
- ایجاد سهولت برای استفاده شما از سایت و عدم نیاز به ورود اطلاعات
   بیش از یکبار<br />
- کمک به شما برای تسریع خدمات روتوش عکس<br />
- کمک به خود برای ایجاد محتوایی با بیشترین تطابق با نیازهای شما<br />
- و برای اطلاع رسانی به شما درباره تخفیف های ویژه و خدمات جدید<br />

<span class="font-face">روتوش منحصرا توسط بانو</span>
بسیاری از کاربران تمایل دارند که عکسهای شخصی و خانوادگی آنها فقط توسط
بانوان روتوش شود. همچنین به دلیل مهارت های زیبایی شناختی بانوان ، شاید
عده ای از کاربران مایل باشند که روتوش عکس های آنها توسط طراحان خانم
انجام پذیرد. هیچ نگران این مسئله نباشید . <br />
تیم ما متشکل از بانوان متخصصی است که روتوش کامل عکس ها را با بالاترین
کیفیــت انجــام مــی دهند . کــاربران می تـوانند بـا اطمیـنان کـامل گـزینـه
"روتوش منحصرا توسط بانو" را انتخاب نمایند.</p>
        </div>
        
        </div>
        <div class="clear"></div>
      </div>