<div class="picture">
      	<div class="pic-frame">
          <img src="<?php URL_ROOT ?>resources/image/pic.jpg" width="1410" height="702" alt="iretouch" />
          <span class="frame-pic"></span>
        </div>
        <span id="frame"></span>
</div>