<div class="inside-content order3">
            <label><span class="font-face">شماره ثبت سفارش :</span>
Warning: mysql_insert_id(): [2002] A connection attempt failed because the connected party did not  (trying to connect via tcp://localhost:3306) in E:\Dropbox\www\pics\view\order\newOrder\success.php on line 2

Call Stack:
    0.0026     325432   1. {main}() E:\Dropbox\www\pics\view\order\newOrder\success.php:0
    0.0026     325464   2. mysql_insert_id() E:\Dropbox\www\pics\view\order\newOrder\success.php:2


Warning: mysql_insert_id(): A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.
 in E:\Dropbox\www\pics\view\order\newOrder\success.php on line 2

Call Stack:
    0.0026     325432   1. {main}() E:\Dropbox\www\pics\view\order\newOrder\success.php:0
    0.0026     325464   2. mysql_insert_id() E:\Dropbox\www\pics\view\order\newOrder\success.php:2


Warning: mysql_insert_id(): A link to the server could not be established in E:\Dropbox\www\pics\view\order\newOrder\success.php on line 2

Call Stack:
    0.0026     325432   1. {main}() E:\Dropbox\www\pics\view\order\newOrder\success.php:0
    0.0026     325464   2. mysql_insert_id() E:\Dropbox\www\pics\view\order\newOrder\success.php:2


Fatal error: Maximum execution time of 30 seconds exceeded in E:\Dropbox\www\pics\view\order\newOrder\success.php on line 2

Call Stack:
    0.0026     325432   1. {main}() E:\Dropbox\www\pics\view\order\newOrder\success.php:0

